.timeline{
	position: relative;
	background-color: lightblue;
	margin: 50px 0;
	padding : 0;
}

.Date {
	position: absolute;
	font-size 20px;
	background-color: blue;
	border-radius : 5px;
	left: 50px;
}

.Content {
	margin-top: 0;
}

div {
  width: 200px;
  padding: 20px;
  background-color: lightblue;
  border: 1px solid: black;
}

img {
	border: 1px solid: black;
}

body {
	background-color: lightblue;
}

