footer {
    background-color:red;
    border: 2px solid black;
    border-radius:5px;
    bottom:0;
    position:relative;
    padding:10px;
    width:auto
}
footer a {
    display:flex;
    flex-direction: column;
} 
footer p{
    text-decoration-color: red;
    font-weight: bold;
    font-size: medium;
}
