header h3 {
    text-decoration-color:aqua;
    text-shadow:2px 2px 4px white;
    text-transform: uppercase;
    text-align:center;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration-line:underline;
    font-size: 12px;
}


 