header h3 {
    text-decoration-color:black;
    text-shadow:5px 5px 10px white;
    text-transform: uppercase;
    text-align:center;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration-line:underline;
    font-size: large;
}


 
