section h2 {
    text-align:center;
    color:black;
    font-size:larger;
    text-shadow:10px 10px 30px black;
    background-color:red;
    text-transform:uppercase;
    font-weight:bolder;
}

section {
    display:flex;
    flex-direction:column;
    align-items:center;

}

section img {
    width:50%;
    height:50%;
}
figcaption {
    margin-top:10px;
    font-weight:bold;
    font-size:25px;
    color:black
}
Section p {
    font-size:large;
    font-weight:bolder;
    text-shadow:4px 4px 5px;
    
}