section h2 {
    text-align:center;
    color:blueviolet;
    border:2px solid black;
    padding:5px;
    text-shadow:3px 2px white;
    font-size:10px;
    background-color:aquamarine;
    text-transform:uppercase;
}

section {
    display:flex;
    flex-direction:column;
    align-items:center;

}

section img {
    max-width:100%
}
figcaption {
    margin-top:10px;
    font-weight:bold;
    font-size:18px;
    color:black
}