section h2 {
    text-align:center;
    color:blueviolet;
    border:2px solid black;
    padding:8px;
    font-size:10px;
    text-shadow:10px 5px white;
    background-color:aquamarine;
    text-transform:uppercase;
}

section {
    display:flex;
    flex-direction:column;
    align-items:center;

}

section img {
    width:50%;
    height:50%;
}
figcaption {
    margin-top:10px;
    font-weight:bold;
    font-size:25px;
    color:black
}
