ul {
    position:relative;
    border: 2px solid black;
    padding:10px;
    background-color:blue;
    word-spacing:15px;
    font-size:medium;



}

ul li {
    display:inline-block;
}

ul a {
    text-decoration:none;
    color:white;

}
